<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Forward sitemap.xml and robots.txt locally to your Node.js backend on port 5002
  RewriteRule ^sitemap\.xml$ http://127.0.0.1:5002/sitemap.xml [P,L]
  # We do not need to proxy robots.txt, we will just use a static one in the public folder.

  # 2. React Router SPA configuration
  # This makes sure direct visits to /blog/slug or /admin do not return 404 errors on Hostinger
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
